/* ===== Header ===== */

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #2e2f42;
  font-weight: bold;
  text-transform: uppercase;
}

.logo-accent {
  color: #4d5ae5;
}

.logo:hover {
  opacity: 0.8;
}

.hero {
  font-size: 56px;
  text-align: center;
  padding: 60px 20px;
  border-radius: 0;
  background-color: #2e2f42;
  color: #ffffff;
  margin-bottom: 40px;
  height: 600px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  font-size: 16px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
